/* For all webpages */

body {
	background-color: #0B0C10;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: right;
	border: 1px solid #66FCF1;
	text-align: center;
	background-color: #45A29E;
	margin-right: 5px;
}

li a {
	text-decoration: none;
	padding: 10px 12px;
	color: #1F2833;
	font-family: courier new;
}

li a:hover {
	color: #66FCF1;
}

/* Portfolio Page */

h1 {
	font-family: courier new;
	color: #C5C6C7;
	text-align: center;
	font-size: 25px;
	margin: 5%;
}

#work {
	background-color: #232e3a;
	margin: auto;
	padding: 10px;
	overflow: hidden;
}

#work h2 {
	padding-left: 8px;
	padding-top: auto;
	font-family: courier new;
	color: #66FCF1;
}

#work img {
	width: 230px;
	height: 230px;
	display: inline-block;
	overflow: hidden;
	padding-left: 22px;
	padding-right: 15px;
}

.ex1, .ex3 {
	margin-left: 10%;
	padding-bottom: 5%;
	background-color: #45A29E;
	width: 18%;
	height: 75%;
	display: inline-block;
	overflow: hidden;
}

.ex2 {
	margin-left: 10%;
	padding-bottom: 5%;
	background-color: #45A29E;
	width: 30%;
	height: 75%;
	display: inline-block;
	overflow: hidden;
}

.ex1 h3, .ex2 h3, .ex3 h3 {
	padding: 5px;
	font-family: courier new;
	color: #66FCF1;
}

.contact {
	color: #45A29E;
	text-align: center;
}

.ex1 p, .ex2 p, .ex3 p {
	padding: 5px;
	color: #232e3a;
	font-family: courier new;
	font-size: 13px;
}

div img {
	width: 50px;
	height: 50px;
}

a:link {
	padding: 5px;
	text-decoration: underline;
	color: #1f2833;
}

a:visited {
	padding: 5px;
	text-decoration: underline;
	color: #1f2833;
}

a:hover {
	padding: 5px;
	text-decoration: underline;
	color: #66FCF1;
}

/* About Me */

.about {
	font-family: courier new;
	font-size: 15px;
	color: #66fcf1;
}

#profile {
	width: 200px;
	height: 200px;
	float: left;
	padding: 1%;
}

.about a {
	color: #45A29E;
}

.about a:hover {
	color: #C5C6C7;
}

.about em {
	text-decoration: underline;
}

/* fun page */
.taxes1 {
	background-color: #232e3a;
	margin: auto;
	padding: 10px;
	width: 35%;
	height: 25%;
	overflow: hidden;
	font-family: courier new;
	font-size: 15px;
	color: #66fcf1;
}
.taxes1 p {
	color: #66fcf1;
	font-family: courier new;
	font-size: 20px;
	padding: 10px;
}

#myCanvas {
	border: 5px solid #000000;
	background-color: #f2f2f2;
}



/* Not working yet */

/* The Slideshow code was created using a tutorial for it from w3schools, while some of the code was modified, some of it is followed exactly as the tutorial says */


/* js photo slideshow */

*{box-sizing:border-box}

.slideshow-container {
	max-width: 800px;
	position: relative;
    margin: auto;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
